body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #F3F4F6;
    color: #161925;
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 1556px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}